.idea
.gradle
build
.github
local.properties
.vscode
*.iml
*.log
*.jar
*.war
*.ear
.DS_Store
*.class
*.swp
*.swo
*.tmp
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.zip
*.tar.gz
*.7z
*.log
*.out
*.err
*.pid
*.seed
*.pid.lock
target/*

plan.md
plugin-spec.md
DECISIONS.md